.App {
  
}

.App-header {
  height: 50px;
  background: #ccc;
}

.App-navigation {
  
}

.App-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eee;

}

.App-navigation__list-item {
  display: inline-block;
}